.app {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 250px;
  padding: 1rem;
  background-color: #f4f4f4;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-top: 0;
}

.map {
  flex: 1;
}

.settings-block {
  margin-bottom: 1rem;
}

.login {
  max-width: 300px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
